.tree-view {
  -fx-skin: "hs.javafx.control.CarouselSkin";
  -fx-border-width: 0px;
}

.carousel {
  -fx-background-color: linear-gradient(to bottom, black 0%, black 50%, grey 50%, black);
}

.tree-cell {
  -fx-border-width: 0px;
  -fx-padding: 0px;
}

/* Necessary to get rid of indent/padding/spacing caused by disclosure node */

.tree-cell {
  -fx-skin: "hs.javafx.control.TreeCellSkin";
}
